# Game Server HTTP
FS25_HTTP_BASE_URL=149.102.148.127
FS25_HTTP_PORT=8590
FS25_STATS_CODE=changeme

# FTP
FTP_HOST=149.102.148.127
FTP_PORT=21
FTP_USER=fs25reader
FTP_PASSWORD=changeme
FTP_SECURE=true

# Database (SQLite)
DB_PATH=./data/fs25companion.db

# App
APP_PORT=3000
NODE_ENV=development
